@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite;
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  nav ul {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .text-lg {
    font-size: 1rem;
  }
}
